@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
  /* header */
  .header {
    margin-bottom: 40px;
  }
  .logo {
    max-width: 16.4%;
  }
  .nav {
    margin-right: auto;
  }
  .nav__list {
    gap: 60px;
  }

  /* hero */
  .hero {
    margin-bottom: 38px;
  }
  .hero__content {
    padding: 160px 77px;
  }
  .hero__title {
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 73.14px;
    letter-spacing: 0.7px;
  }
  .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
  }

  /* info */
  .info__descr {
    margin-bottom: 60px;
    margin-right: 0;
  }
  .info__cards {
    display: block;
  }
  .info__card-left {
    position: relative;
    width: 100%;
    margin-bottom: 34px;
    min-height: 639px;
  }
  .card-left__descr {
    margin-right: auto;
    width: 55%;
  }
  .info {
    margin-bottom: 77px;
  }
  .info__cards-right {
    width: 100%;
  }
  .card-right {
    padding: 6.9% 16% 7% 34.3%;
  }
  .card-right--up-img {
    background-position: 10.5% 50%;
  }
  .card-right--down-img {
    background-position: 10.5% 50%;
  }

  /* stages */
  .stages {
    margin-bottom: 82px;
  }
  .stages__content--left {
    padding-right: 0;
  }
  .stages__btn {
    margin-top: 24px;
  }

  /* questions */
  .questions {
    margin-bottom: 80px;
  }
  .questions__list {
    --offsets: 0;
  }
  .questions__title {
    margin-bottom: 31px;
  }

  /* footer */
  .footer {
    padding: 50px 0 0 0;
  }
  .footer-nav {
    width: 40%;
  }
  .footer__form {
    margin: 0;
  }
  .footer__slogan {
    display: none;
  }
  .btn--footer {
    padding: 19px 39px;
  }
  .footer-nav__list {
    margin-bottom: 90px;
  }
}
@media (max-width: 992px) {
  .logo svg {
    height: 40px;
  }
  .header__container {
    min-height: 69px;
  }
  .nav {
    margin-right: auto;
  }
  .nav__list {
    gap: 40px;
  }
  .nav__link {
    font-size: 16px;
  }
  .hero__content {
    padding: 23.8% 6%;
  }
  .hero__title {
    font-size: 50px;
    line-height: 62.14px;
  }
  .hero__descr {
    font-size: 18px;
  }
  .info {
    margin-bottom: 80px;
  }
  .info__descr {
    margin-bottom: 53px;
  }
  .info__card-left {
    min-height: 650px;
  }
  .info__card-left--img {
    border-radius: 25px;
  }
  .card-left {
    padding: 34px 40px;
    border-radius: 25px;
  }
  .card-left__descr {
    width: 65%;
  }
  .btn--orange {
    padding: 17px 35px;
  }
  .card-right {
    padding: 4.9% 6% 5.2% 25.5%;
  }
  .card-right--up-img {
    background-position: 7.2% 50%;
    background-size: 17%;
  }
  .card-right--down-img {
    background-position: 7.2% 50%;
    background-size: 17%;
  }
  .stages__block {
    flex-direction: column-reverse;
  }
  .stages__box {
    margin: 0;
    width: 100%;
    padding-top: 38px;
  }
  .stages__descr {
    display: contents;
  }
  .stages__content--img {
    min-height: 285px;
  }
  .questions__item {
    padding: 36px 70px 34px 40px
  }
  .footer {
    min-height: 792px;
  }
  .footer__content {
    flex-direction: column-reverse;
  }
  .footer-nav__logo {
    margin-bottom: 13px;
  }
  .footer-nav__list {
    display: none;
  }
  .footer__form {
    margin-bottom: 50px;
  }
  .btn--footer {
    padding: 19px 38px;
  }
}
@media (max-width: 690px) {
  /* header */
  .nav__list {
    gap: 15px;
  }
  /* info */
  .info__card-left {
   display: block;
  }
  .card-left {
    position: static;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
    color: black;
    min-height: 100px;
  }
  .info__card-left--img {
    position: static;
    min-height: 467px;
    margin-bottom: 32px;
    border-radius: 16px;
  }
  .card-left__descr {
    display: contents;
    margin-bottom: 30px;
    margin-right: 0;
    max-width: 100%;
    font-weight: 400;
    line-height: 28px;
    font-size: 14px;
  }
  .btn--transparent {
    font-size: 12px;
    color: #f90;
    margin-top: 12px;
    padding: 10px 42px;
    border-radius: 6px;
    border-width: 2px;
  }
}

@media (max-width: 576px) {
  /* header */
  .container {
    padding: 0 15px;
  }
  .header {
    border-radius: 12px;
    margin-bottom: 20px;
  }
  .header__container {
    padding-top: 8px;
    padding-bottom: 24px;
    min-height: 132px;
    flex-wrap: wrap;
  }
  .logo {
    max-width: 38%;
  }
  .logo svg {
    width: 130px;
    height: 35px;
  }
  .nav {
    margin-left: auto;
    order: 1;
    overflow: scroll
  }
  .nav__list {
    white-space: nowrap;
    gap: 25px;
    padding-bottom: 7px;

  }

  /* preview */
  .hero {
    margin-bottom: 44px;
  }
  .hero__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 308px;
    padding: 20.7% 8.4%;
  }
  .hero__img {
    border-radius: 20px;
  }
  .hero__title {
    margin-bottom: 6px;
    text-align: center;
    line-height: 24.38px;
    font-size: 20px;
    letter-spacing: 0;
  }
  .hero__descr {
    margin-bottom: 33px;
    text-align: center;
    font-size: 12px;
  }
  .btn--hero {
    padding: 13px 28px;
    border-radius: 6px;
    font-size: 12px;
  }
  /* info */
  .info {
    margin-bottom: 60px;
  }
  .info__title {
    margin-bottom: 6px;
    font-size: 24px;
  }
  .info__descr {
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 28px;
    font-size: 14px;
  }
  .card-left__descr {
    margin-right: 0;
    max-width: 100%;
    font-weight: 400;
    line-height: 28px;
    font-size: 14px;
  }
  .info__card-left {
    min-height: 400px;
  }
  .info__card-left--img {
    margin-bottom: 7px;
    min-height: 200px;
  }
  .card-right__subtitle {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }
  .card-right__descr {
    font-size: 14px;
    line-height: 28px;
  }
  .card-right {
    padding: 21% 0 0 0;
    outline: none;
    border-radius: 0%;
  }
  .card-right--up-img {
    background-position: 0% 0%;
    background-size: 21%;
  }
  .card-right--down-img {
    background-position: 0% 0%;
    background-size: 21%;
  }
  /* questions */
  .questions {
    margin-bottom: 62px;
  }
  .questions__title {
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 29.26px;
  }
  .questions__item {
    padding: 0;
    outline: none;
    border-radius: 0%;
  }
  .questions__subtitle {
    margin-bottom: 3px;
    letter-spacing: 0.2px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
  }
  .questions__descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }
  /* stages */
  .stages {
    margin-bottom: 59px;
  }
  .stages__box {
    padding-top: 15px;
  }
  .stages__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
  .stages__subtitle {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
  .stages__descr {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }
  .stages__content--img {
    min-height: 160px;
    border-radius: 20px;
  }

  .stages__btn {
    gap: 10px;
  }
  .btn--size {
    padding: 5px 44px;
    font-size: 12px;
    border-radius: 8px;
  }
  .btn--black {
    color: black;
    padding: 11px 31px;
    margin: 0;
  }
  /* footer */
  .footer {
    padding: 30px 0 0 0;
  }
  .footer__form {
    margin-bottom: 25px;
  }
  .footer__form-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
  }
  .form__input {
    font-size: 13px;
  }
  .form__textarea {
    margin-bottom: 25px;
  }
  .form__btn {
    text-align: center;
  }
  .btn--footer {
    margin-bottom: 12px;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 12px;
  }
  .form__label {
    margin-left: 6px;
    text-align: center;
    display: block;
  }
  .footer-nav {
    border-top: 1px solid white;
    text-align: center;
    min-width: 100%;
  }
  .footer-nav__social {
    gap: 15px;
    justify-content: center;
  }
  .footer-nav__logo {
    margin-bottom: -13px;
  }
  .footer-nav__logo svg {
    max-width: 131px;
  }
  .social__svg {
    max-width: 40px;
  }
}

