html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-orange: #F90;
  --color-dark_orange: #E1670E;
  --color-light_orange: #FFB84D;
  --color-green: #97EE3F;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #666;
  --color-light_grey: #CACACA;
  --color-dark_grey: #414141;
}


/* reset */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.title-reset {
  margin: 0;
  padding: 0;
}


/* body */
body {
  min-width: 1920px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: var(--color-white);
}

.container {
  width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 25px 39px;
  border-radius: 16px;
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: 23px;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.4s ease-in-out;
}

.btn:focus {
  background-color: var(--color-light_orange);
}

.btn:hover {
  background-color: var(--color-light_orange);
}

.btn:active {
  background-color: var(--color-dark_orange);
}

.btn--size {
  padding: 20px 38px;
  font-size: 16px;
}

.btn--black {
  color: var(--color-black);
  border: 1px solid #000;
  font-weight: 400;
  transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.btn--black:focus {
  background-color: var(--color-grey);
  color: var(--color-white);
}

.btn--black:hover {
  background-color: var(--color-grey);
  color: var(--color-white);
}

.btn--black:active {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn--orange {
  font-size: 16px;
  padding: 17px 36px;
  border: 3px solid var(--color-orange);
  transition: background-color 0.4s ease-in-out;
}

.btn--orange:focus {
  background-color: var(--color-orange);
}

.btn--orange:hover {
  background-color: var(--color-orange);
}

.btn--orange:active {
  background-color: var(--color-dark_orange);
}

.btn--transparent {
  background-color: transparent;
}

.btn--footer {
  padding: 20px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}


/* header */
.header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  min-height: 100px;
  background-color: var(--color-white);
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);

}

.header__container {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__svg {
  margin-right: 10px;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: 84px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 84px;
}

.nav__link {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  transition: color .4s ease-in-out;
}

.nav__link:focus {
  outline-offset: 5px;
  outline-color: var(--color-orange);
  outline-width: 2px;
}

.nav__link:hover {
  border-bottom: 2px solid var(--color-orange);
}

.nav__link:active {
  color: var(--color-dark_orange);
  border-bottom: 2px solid var(--color-dark_orange);
}

.header__search {
  display: flex;
  align-items: center;
  transition: stroke .4s ease-in-out;
}

.search__link:focus {
  outline-offset: 5px;
  outline-color: var(--color-orange);
  outline-width: 2px;
}

.search__link:hover .search__svg path {
  stroke: var(--color-orange);
}

.search__link:hover .search__svg rect {
  fill: var(--color-orange);
}

.search__link:active .search__svg path {
  stroke: var(--color-black);
}

.search__link:active .search__svg rect {
  fill: var(--color-black);
}



/* preview */
.hero {
  margin-bottom: 50px;
}

.hero__content {
  min-height: 620px;
  padding: 100px 853px 100px 80px;
}

.hero--img {
  background-image: url(../img/preview.png);
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 24px;
  color: var(--color-white);
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.85px;
}

.hero__descr {
  margin-bottom: 89px;
  color: var(--color-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* info */
.info {
  margin-bottom: 100px;
}

.info__title {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.info__descr {
  margin-bottom: 50px;
  margin-right: 535px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.info__cards {
  display: flex;
}

.info__card-left {
  display: flex;
  align-items: end;
  margin-right: 32px;
  min-height: 622px;
  min-width: 868px;
}

.card-left {
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  align-items: center;
  border-radius: 32px;
  padding: 50px;
}

.card-left__descr {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.info__card-left--img {
  background-image: url(../img/info-1.png);
  background-repeat: no-repeat;
}

.card-right {
  width: 870px;
  height: 293px;
  padding: 66px 118px 60px 300px;
  border-radius: 32px;
  outline: 2px solid var(--color-light_grey);
}

.card-right_subtitle {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.card-right__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.card-right__up-img {
  background-image: url(../img/info-2.svg);
  background-repeat: no-repeat;
  background-position: 60px 65px;
  margin-bottom: 34px;
}

.card-right__down-img {
  background-image: url(../img/info-3.svg);
  background-repeat: no-repeat;
  background-position: 60px 65px;
}


/* stages */
.stages {
  margin-bottom: 100px;
}

.stages__content {
  min-height: 561px;
  padding-right: 1029px;
}

.stages--img {
  background-image: url(../img/stages.png);
  background-repeat: no-repeat;
  background-position: 900px 101px;
}

.stages__title {
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.stages__subtitle {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.stages__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.stages__btn {
  display: flex;
  gap: 32px;
  margin-top: 17px;
}


/* questions */
.questions {
  margin-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.questions__list {
  display: flex;
}

.questions__item {
  padding: 65px 97px 65px 60px;
  outline: 1px solid var(--color-light_grey);
  border-radius: 32px;
  min-width: 569px;
  max-height: 291px;
}

.questions__item:not(:nth-child(3n)) {
  margin-right: 32px;
}

.questions__subtitle {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.questions__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}


/* footer */
.footer {
  padding: 50px 75px;
  min-height: 594px;
  background-color: var(--color-black);
}

.footer__content {
  display: flex;
}

.footer-nav {
  margin-right: 347px;
}

.footer-nav__list {
  margin-bottom: 90px;
}

.footer-nav__logo {
  display: block;
  margin-bottom: 17px;
}

.footer-nav__link {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  transition: color .4s ease-in-out;
}

.footer-nav__link:focus {
  outline-offset: 5px;
  outline-color: var(--color-orange);
  outline-width: 2px;
}

.footer-nav__link:hover {
  border-bottom: 2px solid var(--color-orange);
}

.footer-nav__link:active {
  color: var(--color-dark_orange);
  border-bottom: 2px solid var(--color-dark_orange);
}

.footer-nav__social {
  display: flex;
  gap: 25px;
}

.social__icon {
  display: block;
}

.footer__form {
  margin-right: 238px;
  max-width: 570px;
}

.form__title {
  margin-bottom: 25px;
  color: var(--color-white);
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: var(--color-white);
}

.form__input {
  margin-bottom: 25px;
  padding-left: 24px;
  min-height: 60px;
  border: none;
  border-radius: 15px;
  color: var(--color-white);
  background-color: var(--color-dark_grey);
}

.form__textarea {
  margin-bottom: 32px;
  padding-left: 24px;
  padding-top: 23px;
  min-height: 150px;
  border: none;
  border-radius: 15px;
  background-color: var(--color-dark_grey);
  resize: none;
}

.form__label {
  margin-left: 19px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.footer__slogan {
  margin-top: 89px;
}

.slogan__descr {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  height: 320px;
  width: 363px;
}
