html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
 margin: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
  url("../fonts/MullerBold.woff2") format("woff2"),
  url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
  url("../fonts/MullerLight.woff2") format("woff2"),
  url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
  url("../fonts/MullerMedium.woff2") format("woff2"),
  url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
  url("../fonts/MullerRegular.woff2") format("woff2"),
  url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-orange: #CC9933;
  --color-dark_orange: #A47312;
  --color-light_orange: #F0BF5F;
  --color-white: #fff;
  --color-grey: #f1f1f1;
}
body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: var(--color-grey);
  margin-top: 30px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  color: var(--color-orange);
  transition: background-color 0.4s ease-in-out;
}

.btn:focus {
  color: var(--color-white);
  background-color: var(--color-orange);
  outline: none;
}

.btn:hover {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.btn:active {
  background-color: var(--color-dark_orange);
  color: var(--color-white);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  width: 1170px;
  padding: 0;
  margin: 0 auto;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.title-2 {
  margin: 0;
}

.descr {
  margin: 0;
}
.option {
  border: none;
}
.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-orange);
  outline-offset: 5px;
  outline-color: var(--color-orange);
  outline-width: 1px;
  transition: color 0.4s ease-in-out;
}
.link:focus {
  color: var(--color-orange);
}
.link:hover {
  color: var(--color-light_orange);
}
.link:active {
  color: var(--color-dark_orange);
}



.header {
  margin-bottom: 70px;
}

.header-menu {
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 40px;
}
.header-number{
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  transition: color .4s ease-in-out;
}
.header-number:focus {
  color: var(--color-orange);
  outline-offset: 5px;
  outline-color: var(--color-orange);
  outline-width: 1px;
}
.header-number:hover {
  color: var(--color-orange);
}
.header-number:active {
  color: var(--color-dark_orange);
}
.header__link {
  margin-left: auto;
  align-items: center;
  min-height: 40px;
}
.header__link-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-orange);
  transition: color .4s ease-in-out;
}
.header__link:focus{
  color: var(--color-orange);
  outline-offset: 5px;
  outline-color: var(--color-orange);
  outline-width: 1px;
}
.header__link:focus .header__link-icon path {
  fill: var(--color-orange);
}
.header__link:focus .header__link-text {
  color: var(--color-orange);
}
.header__link:hover .header__link-icon path {
  fill: var(--color-light_orange);
}
.header__link:hover .header__link-text{
  color: var(--color-light_orange);
}
.header__link:active .header__link-icon path {
  fill: var(--color-dark_orange);
}
.header__link:active .header__link-text{
  color: var(--color-dark_orange);
}
.header__link-icon path {
  transition: fill .4s ease-in-out;
}
.header__link-icon {
  transform: translateY(-2px);
  margin-right: 5px;
}
.nav-info {
  background-color: var(--color-white);
  height: 70px;
  border-radius: 15px;
  align-items: center;
}
.nav-list {
  align-items: center;
}

.nav-item-list {
  margin-left: 45px;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: color .4s ease-in-out;
}
.nav-link:focus {
  color: var(--color-orange);
  outline-offset: 5px;
  outline-color: var(--color-orange);
  outline-width: 1px;
}

.nav-link:hover {
  color: var(--color-orange);
}

.nav-link:active {
  color: var(--color-dark_orange);
}

.btn-nav {
  margin-left: auto;
}

.nav-btn-tour {
  margin-right: 40px;
}

.nav-btn-call {
  margin-right: 45px;
}


.preview {
  margin-bottom: 70px;
}

.preview-cards {
  position: relative;
  margin-right: 24px;
  min-height: 258px;
  width: 573px;
  border-radius: 15px;
  padding: 40px 108px 40px 45px;
}

.preview-cards-up {
  margin-bottom: 24px;
}
.preview-cards-up:hover .preview-cards-link-img {
  transition: margin-left 10px;
}
.preview-card-up-img {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%),
  url(../img/preview-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.preview-card-down-img {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%),
  url(../img/preview-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.preview-card-right-img {
  background-image: url(../img/preview-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.preview-cards-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-white);
  margin-bottom: 15px;
}
.preview-cards-descr{
  color: var(--color-white);
  opacity: 80%;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 47px;
}
.preview-cards-link {
  color: var(--color-light_orange);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  outline: none;
}
.preview-cards-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--color-light_orange);
  outline-offset: 5px;
  opacity: 0;
}
.preview-cards-link:focus::before{
  opacity: 1;
}
.preview-cards-link:active {
  color: var(--color-white);
}
.preview-cards-link-icon {
  margin-left: 4px;
  transition: margin-left 1s, 0.5s;
}
.preview-card-up-img:hover .preview-cards-link-icon {
  margin-left: 20px;
}
.preview-card-down-img:hover .preview-cards-link-icon {
  margin-left: 20px;
}
.preview-card-right-img:hover .preview-cards-link-icon {
  margin-left: 20px;
}
.preview-card-descr{
  color: var(--color-white);
  opacity: 80%;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 47px;
  }

.preview-card-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--color-white);
  margin-bottom: 15px;
}

.preview-card {
  height: 100%;
  border-radius: 15px;
  padding: 212px 229px 40px 45px;
}

.preview-card-right {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 540px;
  width: 573px;
}


.info {
  margin-bottom: 70px;
}

.section-info-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  width: 888px;
  height: 192px;
}

.services {
  margin-bottom: 50px;
}

.services-items {
  margin: 0;
  flex-wrap: wrap;
}

.services-item {
  position: relative;
  padding: 191px 126px 35px 45px;
  min-height: 330px;
  width: 573px;
  background-color: var(--color-white);
  border-radius: 15px;
  margin-bottom: 20px;
}

.services-item:not(:nth-child(2n)){
  margin-right: 20px;
}
.services-item-link {
  color: var(--color-orange);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  align-items: center;
  outline: none;
}
.services-item-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--color-light_orange);
  outline-offset: 5px;
  opacity: 0;
}
.services-item-link:focus-visible::before {
  opacity: 1;
}
.services-item-link:focus .services-item-text {
  color: var(--color-light_orange);
}
.services-item-link:focus .services-item-icon path {
  stroke: var(--color-light_orange);
}
.services-item-link:hover .services-item-text {
  color: var(--color-light_orange);
}
.services-item-link:hover .services-item-icon path {
  stroke: var(--color-light_orange);
}
.services-item-link:active .services-item-text {
  color: var(--color-dark_orange);
}
.services-item-link:active .services-item-icon path {
  stroke: var(--color-dark_orange);
}
.services-item-icon {
  margin-left: 4px;
  transition: margin-left 1s, 0.5s;
}
.services-item-img-1:hover .services-item-icon {
  margin-left: 20px;
}
.services-item-img-2:hover .services-item-icon {
  margin-left: 20px;
}
.services-item-img-3:hover .services-item-icon {
  margin-left: 20px;
}
.services-item-img-4:hover .services-item-icon {
  margin-left: 20px;
}
.services-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.services-item-img-1 {
  background-image: url(../img/services-1.png);
  background-repeat: no-repeat;
  background-size: 573px 165px;
}

.services-item-img-2 {
  background-image: url(../img/services-2.png);
  background-repeat: no-repeat;
  background-size: 573px 165px;

}

.services-item-img-3 {
  background-image: url(../img/services-3.png);
  background-repeat: no-repeat;
  background-size: 573px 165px;
}

.services-item-img-4 {
  background-image: url(../img/services-4.png);
  background-repeat: no-repeat;
  background-size: 573px 165px;
}




.advantages{
  margin-bottom: 40px;
}
.advantages-items {
  flex-wrap: wrap;
}

.advantages-item {
  padding-left: 45px;
  padding-right: 42px;
  padding-bottom: 32px;
  padding-top: 116px;
  border-radius: 15px;
  background-color: var(--color-white);
  min-height: 276px;
  width: 276px;
  margin-bottom: 22px;
}
.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}
.advantages-items-descr {
  min-height: 128px;
  width: 189px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.advantages-item-img-1 {
  background-image: url(../img/advantages-1.svg);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}
.advantages-item-img-2 {
  background-image: url(../img/advantages-2.svg);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}
.advantages-item-img-3 {
  background-image: url(../img/advantages-3.svg);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}
.advantages-item-img-4 {
  background-image: url(../img/advantages-4.svg);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}
.advantages-item-img-5 {
  background-image: url(../img/advantages-5.svg);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}
.advantages-item-img-6 {
  background-image: url(../img/advantages-6.svg);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}
.advantages-item-img-7 {
  background-image: url(../img/advantages-7.svg);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}
.advantages-item-img-8 {
  background-image: url(../img/advantages-8.svg);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}
.placing {
  margin-bottom: 46px;
}
.placing-items {
  flex-wrap: wrap;
}
.placing-item {
  position: relative;
  width: 374px;
  min-height: 440px;
  margin-bottom: 24px;
  background-color: var(--color-white);
  border-radius: 15px;

}
.placing-item:not(:nth-child(3n)) {
  margin-right: 24px;
}
.placing-item-pri-rat {
  justify-content: space-between;
}
.placing-item-name-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.placing-item-location {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.placing-item-img {
  border-radius: 15px 15px 0 0;
}
.placing-item-price {
  margin-bottom: 16px;
  max-width: 190px;
}
.placing-item-price-num {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.placing-item-name {
  margin-bottom: 16px;
}
.placing-item-location {
  margin-bottom: 20px;
}
.placing-item-img-last {
  background-image: url(../img/placing.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 373px 0px 27px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.placing-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
  background-image: url(../img/rectangle-3.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
}
.placing-item-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.placing-block {
  padding: 32px 45px 45px 45px;
}
.search_tour {
  margin-bottom: 70px;
}
.search_tour-title{
  margin: 0;
  margin-bottom: 20px;
}
.search_tour-form {
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 32px 28px;
  justify-content: space-between;
  align-items: center;
}
.search_tour-block {
  padding: 45px;
  background-color: #E9E9E9;
  border-radius: 15px;
}
.search_tour-descr {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 15px;
}
.search_tour-border {
  border: none;
}
.search_tour-border-bottom {
  border-bottom: solid 1px #E9E9E9;
}
.contacts {
  margin-bottom: 70px;
}
.contacts-block {
  padding: 45px;
  background-color: var(--color-white);
  border-radius: 15px;
  justify-content: space-between;
}
.contacts-block-left {
  width: 375px;

}
.contacts-points {
  border-bottom: 1px solid #E9E9E9;
  align-items: baseline;
  padding-bottom: 25px;
}
.contacts-points:not(:nth-child(1)) {
  padding-top: 25px;
}
.contacts-schedule {
  margin-bottom: 45px;
}
.contacts-btn {
  padding: 27px 29.5px;
}
.contacts-img {
  min-height: 100%;
}
.contacts-descr {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.contacts-title {
  width: 145px;
}
.footer-block {
  color: var(--color-white);
  margin-bottom: 30px;
  padding: 45px;
  width: 1170px;
  min-height: 341px;
  background-color: #333;
  border-radius: 15px;
  line-height: 30px;
  justify-content: space-between;
}
.footer-descr {
  width: 302px;
}
.footer-descr-1 {
  padding-bottom: 37px;
}
.footer-descr-2 {
  padding-bottom: 40px;
}
.footer-descr-3 {
  padding-bottom: 15px;
}
.footer-img {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-position: bottom 0 right 112px;
}
.footer-nav {
  width: 359px;
}
.footer-nav-num {
  margin-bottom: 15px;
}
.footer-social {
  height: 150px;
}
.footer-social-link {
  outline: none;
}
.footer-social-icon path{
  transition: fill 0.4s ease-in-out;
}
.footer-social-link:hover {
  transform: scale(1.1) translate(-1px, -1px);
}
.footer-social-link:focus .footer-social-icon path {
  fill: var(--color-orange);
}
.footer-social-link:hover .footer-social-icon path {
  fill: var(--color-orange);
}
.footer-social-link:active .footer-social-icon path {
  fill: var(--color-dark_orange);
}

